DjangoNews/__init__.pyc
DjangoNews/settings.pyc
DjangoNews/urls.pyc
DjangoNews/wsgi.pyc
NoticiasTabajara/__init__.pyc
NoticiasTabajara/admin.pyc
NoticiasTabajara/models.pyc
NoticiasTabajara/urls.pyc
NoticiasTabajara/views.pyc
NoticiasTabajara/migrations/__init__.pyc
DjangoNews/wsgi.pyc
NoticiasTabajara/__init__.pyc
NoticiasTabajara/admin.pyc
NoticiasTabajara/models.pyc
NoticiasTabajara/migrations/__init__.pyc
NoticiasTabajara/migrations/0001_initial.pyc
NoticiasTabajara/migrations/__init__.pyc
NoticiasTabajara/migrations/0001_initial.pyc
NoticiasTabajara/models.pyc
NoticiasTabajara/admin.pyc
NoticiasTabajara/__init__.pyc
