.jumbotron {
    background-image: url('..\images\noticias_berex.png');

}


.balao:before {
    content: "\f0e5";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}
.visualizacao:before {
    content: "\f06e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}

#linha {
  width: 100%;
  border-bottom: 1px solid #555555;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

#linkPagina {
color: #212529;

}