<!DOCTYPE html> {% extends "NoticiasTabajara/base.html" %} {% block body_block %} {% load staticfiles %}

<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="display-4">Cadastrar Noticia</h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group"> {% csrf_token %} {{form.as_p}}
            <script>
                CKEDITOR.replace('texto');
            </script>
            <input type="submit" value="Enviar" class="btn btn-primary">
            <input type="Reset" value="Apagar tudo" class="btn btn-sm align-middle btn-outline-secondary">
        </div>
    </form>
</div>
{% endblock %}