<!DOCTYPE html> {% extends "NoticiasTabajara/base.html" %} {% block body_block %}
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
    <hr/>

    <form method='POST' action='' enctype='multipart/form-data'>
        <div class="form-group">{% csrf_token %} {{form.as_p}}
        <input type='submit'  class="btn btn-primary" value='{{ title }}' />
        <input type="Reset" value="Apagar tudo" class="btn btn-sm align-middle btn-outline-secondary">       
    </div>
    </form>
</div>
{% endblock body_block %}