<!DOCTYPE html> {% extends "NoticiasTabajara/base.html" %} {% block body_block %} {% load staticfiles %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
            <div class="row">

                <div class="col-1 col-lg-12">
                    <h2>{{ noticia.titulo }}</h2>
                    <img src="../{{noticia.imagem}}" alt="Imagem Noticia">
                    <p><small>{{ noticia.data}}</small></p>
                    <p>{{noticia.texto}}</p>
                    <p><a class="btn btn-secondary" href="{% url 'index' %}" role="button">Voltar &Lt; </a></p>
                </div>

            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
</div>

{% endblock %}