<!DOCTYPE html> {% extends "NoticiasTabajara/base.html" %} {% block body_block %} {% load staticfiles %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
            <div class="row">

                <div class="col-12 col-lg-12">
                    <h2>{{ noticia.titulo }}</h2>
                    <img class="img-thumbnail img-responsive" src="{% static 'images/' %}{{noticia.imagem}}" alt="Imagem Noticia">
                    <p><small>{{ noticia.data}}</small></p>
                    <p>{{noticia.texto | safe}}</p>
                    <p><a class="btn btn-secondary" href="{% url 'index' %}" role="button">Voltar &Lt; </a></p>

                    <p>
                        <h2>Comentários</h2>
                    </p>
                    {% csrf_token %} {{form.as_p}}
                    <input type="submit" value="Enviar" class="btn btn-primary">{% for comentario in comentarios %}
                    <p><small>{{ comentario.data}}</small>
                        <p>Nome: {{comentario.nome}} e-mail: {{comentario.email}}</p>
                        <p>{{comentario.texto}}</p>
                        {% if user.is_superuser %} {{comentario.is_active}} {% endif %} {%endfor%}

                </div>

            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
</div>

{% endblock %}