<!DOCTYPE html> {% extends "NoticiasTabajara/base.html" %} {% block body_block %} {% load staticfiles %}

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">

            <div class="jumbotron">
                <img class="img-thumbnail img-responsive" src="{% static 'images/noticiaIndex.jpg' %}" alt="Imagem banner">
            </div>
            <div class="row">
                    {% for noticia in paginas.object_list %}
                    <div class="col-12 col-lg-12">
                        <h2>{{ noticia.titulo }}</h2>
                        <p><small>{{ noticia.data}}</small></br>{{noticia.resumo}}</p>
                        <p><small>{{comentarios}}</small></p>
                        <p><a class="btn btn-secondary" href="{% url 'noticias' noticia.id %}" role="button">Detalhes &raquo;</a></p>
    
                    </div>
                    {% endfor %}

            </div>
            <nav aria-label="..." >
                    <ul class="pagination ">
                      <li class="page-item ">
                            {% if paginas.has_previous %}
                            <a class="page-link" style="color:#212529" href="?pagina={{ paginas.previous_page_number }}" tabindex="-1" aria-label="Anterior">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Anterior</span>
                        </a>
                    
                    {% endif %}
                      </li>
                      <li class="page-item active " >
                        <a class="page-link" style="color:#fff;background-color: #727B84;
                        border-color: #727B84;" href="#">{{ paginas.number }} <span class="sr-only">(current)</span></a>
                      </li>
               
                      <li class="page-item">
                            {% if paginas.has_next %}
                        <a class="page-link" style="color:#212529" href="?pagina={{ paginas.next_page_number }}" aria-label="Próximo">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Próxima</span>
                        </a>
                        {% endif %}
                      </li>
                    </ul>
                    <p class="h6 text-right">
                            <small class="text-muted">
                    Página {{ paginas.number }} de {{ paginas.paginator.num_pages }}
                            </small>
                   </p>
                  </nav>

            <!--/row-->
        </div>
        <!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas " id="sidebar">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
                <a href="#" class="list-group-item list-group-item-secondary">Link</a>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; IFSC 2017</p>
    </footer>

</div>
<!--/.container-->
{% endblock %}